/*  your css code here. If applicable */
*{
	background:white;
}
p:first-child{
	color:rgb(255, 0, 0);
}
.content{
	display:flex;
}
p:last-child{
	color:rgb(255, 0, 0);
}
p:nth-child(2n){
	color:rgb(0,0,0);
	margin-inline:2px;
}